<a href="https://colab.research.google.com/github/jalvaradoc/Repositorio_Algoritmos/blob/main/lab1/jalvaradoc_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
string1 = 'My name is ' 
string2 = "Juan Camilo"
print(string1 + string2) #concatenation of string1 and string2

My name is Juan Camilo

An integer is a round number with no values after the decimal point.

In [ ]:
number = 3
print(number)
print(type(number)) #prints data type of number

3
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
my_int = int(my_string)
print(type(my_int))  #prints data type of my_int
print(my_int+1)  #prints 100+1

<class 'int'>
101

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

 The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_string = "100"
my_float = float(my_string) #function float() converts my_string to float
print(type(my_float))
print(my_float)

<class 'float'>
100.0

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
my_bool = 10>3
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print("3+3 =", 3+3)
print("5-2 =", 5-2)
print("5*5 =", 5*5)
print("10/2 =", 10/2)
print('2^3 =', 2**3)

3+3 = 6
5-2 = 3
5*5 = 25
10/2 = 5.0
2^3 = 8

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n âˆ’ 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = [0,1,2,3,4]
list_lenght = len(my_list) #function len() returns the size of my_list
print(list_lenght) #prints size of my_list
print(my_list[list_lenght-1]) #prints the last element of my_list

5
4

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = [1, 2, False, 4, 5]
my_list[2] = 3 #changes the element in index 2
print(my_list)

[1, 2, 3, 4, 5]

A list can also be sliced with a colon:

In [ ]:
my_list = [-5,-4,-3,-2,-1,0,1,2,3,4,5]
list_lenght = len(my_list) 
print(my_list[5:list_lenght:2]) #prints even numbers greater than or equal to 0

[0, 2, 4]

The slice starts from the first element indicated, but excludes the last element indicated.

In [ ]:
my_list = [-5,-4,-3,-2,-1,0,1,2,3,4,5]
print(my_list[6:]) #prints the positive numbers.
print(my_list[:5]) #prints the negative numbers.

[1, 2, 3, 4, 5]
[-5, -4, -3, -2, -1]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = [1,2]
my_list.append(3) #add 3 to the list
print(my_list)

[1, 2, 3]

In [ ]:
my_list.remove(1) #removes 1 from the list
print(my_list)

[2, 3]

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = (3,2.13,False)

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = (3,2.13,False)
print(my_tuple[1:])

(2.13, False)

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = [1,2,2,2,3,4,5]
stock_set = set(stock_list) #function set () saves the list elements in an unordered collection (removes duplicate elements)
print(stock_set)

{1, 2, 3, 4, 5}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
users_emails = {'juan':'jalvaradoc@unal.edu.co', 'pepito':'pepito@gmail.com'}

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
print(users_emails['juan'])  #prints value of 'juan' key

jalvaradoc@unal.edu.co

We can also change the value associated with a specified key:

In [ ]:
users_emails['juan'] = 'jualvaradoc@unal.edu.co'  # changes value of 'juan' key
print(users_emails['juan'])

jualvaradoc@unal.edu.co

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

In [ ]:
print(users_emails.keys())

dict_keys(['juan', 'pepito'])

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Juan Camilo Alvarado Caro'
print(my_str[12:]) #prints names
print(my_str[:11]) #prints last name

Alvarado Caro
Juan Camilo

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Barcelona'.count('e'))
print('paris'.find('e'))
print('alejandro'.replace('o','a'))

1
-1
alejandra

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
axes = '4 2'
splited_list = axes.split(' ')  #split() function splits the string by the spaces and return a list
x_axis = splited_list[0]
y_axis = splited_list[1]
print("x = "+x_axis) # prints value of x
print("y = "+y_axis) # prints value of y

x = 4
y = 2

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
axes = 'x={} , y={}'.format('9.23','4')
print(axes)

x=9.23 , y=4

Another way to format a string is to use the % symbol.

In [ ]:
my_string = 'Juan Camilo'
print('My name is %s'%my_string)

My name is Juan Camilo

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 > 5)
print(5 >= 6)

False
True
True
True
False
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
my_int1 = 1
my_int2 = 5
print(my_int2 > 4)  # 5>4 = true
print(my_int2 > 4 and my_int1 > 4)
print(my_int2 > 4 or my_int1 > 4)

True
False
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
my_int1 = 2
my_int2 = 5
print((my_int2 > 3 and my_int2 < 10) or my_int1==1)  # True or False = True

True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 5
if i > 3:   # if i <= 3, if statement will be skipped.
    print(str(i) + ' > 3 is True')

5 > 3 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
Integer_1 = 3
Integer_2 = 7
p = Integer_2 < 6   #(False)
q = Integer_1 > 3   #(False)
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

None of p and q is true

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 11:    #print even numbers from 0 to 10
    print(i)
    i += 2

0
2
4
6
8
10

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
numbers = [1,2,3,4,5]
for i in numbers:
    print(str(i)+" ",end='')

1 2 3 4 5

We can also add if statements in a for loop.

In [ ]:
numbers = [2,13,3,24,53,64,12,16]
even_numbers = []
for i in numbers:
    if i % 2==0:  #if i is even, is added to the list
        even_numbers.append(i)
print(even_numbers)

[2, 24, 64, 12, 16]

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
numbers = [1,3,5,6,12,14,16,19,20,23]
for i in numbers:
    if i > 12:
        break
    print(i)

1
3
5
6
12

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
numbers = [2,13,3,24,53,64,12,16]
for i in numbers:
    if i%2 != 0:  #if i is even, print i
        continue
    print(i)

2
24
64
12
16

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
numbers = [1,2,3,4,5]
squares = []
for i in numbers:
    squares.append(i**2)
print(numbers)    
print(squares)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

Using list comprehension:

In [ ]:
numbers = [1,2,3,4,5]
squares = [x**2 for x in numbers]
print(numbers)
print(squares)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
list_1=[1,2,4,6]
print([i for i in list_1  if i%2==0])  # print even numbers in list

[2, 4, 6]

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def equals(x,y):
    if x==y:
      return True
    else:
      return False  
print(equals(3,3))   # 3==3 = True
print(equals(5,10))  # 5==10 = False

True
False

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def name():
    print('Juan Camilo')
print('My name is ', end='')
name()

My name is Juan Camilo

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

for x in range (0,11,2): #(step argument is 2)
  print(x)

range(0, 10)
range(1, 11)
range(1, 11, 2)
0
2
4
6
8
10

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
list_1 = [0,1,2,3,4,5]
print('The length of list_1 is '+ str(len(list_1)))
for i in range(len(list_1)): #range is (0,6)
    print(list_1[i])

The length of list_1 is 6
0
1
2
3
4
5

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
list = [1,2,3,4,5]
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [ ]:
def equals_3(x):
    if x==3:
      return True
    else:
      return False  

tickers = [1,2,3,4,5]
list(map(equals_3,tickers))  # return list of boolean values   (2==3 = False, 3==3 = True )

[False, False, True, False, False]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
my_list = [0,1,2,3,4,5]
list(map(lambda x: x**2, my_list))  #square function

[0, 1, 4, 9, 16, 25]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x == y, [1,2,3,4,5],[5,4,3,2,1]))  # compare values of two lists

[False, False, True, False, False]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
users_age = [('juan',12),('GOOG',30),('MSFT',17)]
sorted(users_age, key = lambda x: x[1])  #sort the list by age in ascending order

[('juan', 12), ('MSFT', 17), ('GOOG', 30)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
users_age = [('juan',12),('GOOG',30),('MSFT',17)]
sorted(users_age, key = lambda x: x[1], reverse=True)  #sort the list by age in descending order

[('GOOG', 30), ('MSFT', 17), ('juan', 12)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [5,2,3,4,1]
price_list.sort()   #sort() function doesn't return a new list
print(price_list)   #pprint sorted list

[1, 2, 3, 4, 5]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Person" here:

In [ ]:
class Person:
  def __init__(person, name, id, email):
    person.name = name
    person.id = id
    person.email = email

  def get_email(person):
    print("email: " + str(person.email))

  def update_email(person,email):
    person.email = email
    print("email changed")  

p1 = Person("John", 36929391,"pepitp@gmail.com")
p1.get_email()   # print Johns email

p1.update_email("hello@unal.edu.co") #update Johns email
p1.get_email()   # print Johns email

email: pepitp@gmail.com
email changed
email: hello@unal.edu.co

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
p1.age = 19
p1.username='jalvaradoc'
print("age: "+str(p1.age))
print("username: "+str(p1.username))

age: 19
username: jalvaradoc

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(Person)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'get_email',
 'update_email']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class Student(Person):
    def update_PAPA(student,papa):
        student.papa = papa

In [ ]:
p1 = Student("Juan", 1023824123,"juan@gmail.com")  #inherited attributes
p1.update_PAPA(4.5)    #own method
print(p1.email)
print(p1.papa)

juan@gmail.com
4.5

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [22.0,43.50,32.05]
price_array = np.array(price_list)    #creates NumPy array
print(price_array, type(price_array))   #prints array und data type

[22.   43.5  32.05] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
axes = np.array([[1,4],[3,7]])  #creates 2-dimensional matrix
print(axes)   #prints values of the axes of a function

[[1 4]
 [3 7]]

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(axes.shape)  #prints matrix dimensions

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print("(x,y) = "+str(axes[0]))
print("(x,y) = "+str(axes[1]))

(x,y) = [1 4]
(x,y) = [3 7]

If we want to access the matrix by column instead:

In [ ]:
print('x-values: ', axes[:,0])
print('y-values: ', axes[:,1])

x-values:  [1 3]
y-calues:  [4 7]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))  #prints array  applying natural logarithm in price_array

[3.09104245 3.77276094 3.46729718]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

32.516666666666666
8.78353889702525
97.55
43.5

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [ ]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
users_list = ['loyalzs32', "phans", "juan02", "freedom08","jalvaradoc"]
users = pd.Series(users_list)  #creates users serie
users

0     loyalzs32
1         phans
2        juan02
3     freedom08
4    jalvaradoc
dtype: object

We can customize the indices of a new Series:

In [ ]:
users = pd.Series(users_list,index = [10.1,10.2,10.3,10.4,10.5,])  #changes serie indices
users

10.1     loyalzs32
10.2         phans
10.3        juan02
10.4     freedom08
10.5    jalvaradoc
dtype: object

Or we can change the indices of an existing Series:

In [ ]:
users.index = [0,1,2,3,4]
users

0     loyalzs32
1         phans
2        juan02
3     freedom08
4    jalvaradoc
dtype: object

Series is like a list since it can be sliced by index:

In [ ]:
print(users[::2])   #prints even indices
print()
print(users[1::2])  #prints odd indices

0     loyalzs32
2        juan02
4    jalvaradoc
dtype: object

1        phans
3    freedom08
dtype: object

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(users[0])   # prints first element
users[0] = "JC"   # changes first element 
print(users)

loyalzs32
0            JC
1         phans
2        juan02
3     freedom08
4    jalvaradoc
dtype: object

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
users = pd.Series(users_list, name = 'usernames')
print(users)
print(users.name)   #prints series name

0     loyalzs32
1         phans
2        juan02
3     freedom08
4    jalvaradoc
Name: usernames, dtype: object
usernames

We can get the statistical summaries of a Series:

In [ ]:
bike_price = [100000, 2310000, 200000, 14400, 1420000]
prices = pd.Series(bike_price)
print(prices.describe())

count    5.000000e+00
mean     8.088800e+05
std      1.016277e+06
min      1.440000e+04
25%      1.000000e+05
50%      2.000000e+05
75%      1.420000e+06
max      2.310000e+06
dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2021-01-01',periods = len(prices),freq = 'D')
prices.index = time_index   #changes series indices
print(prices)

2021-01-01     100000
2021-01-02    2310000
2021-01-03     200000
2021-01-04      14400
2021-01-05    1420000
Freq: D, dtype: int64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
prices.index = [1,2,3,4,5]
print(prices)
print("First element is: "+str(prices[1]))   #prints  element  with index 1

1     100000
2    2310000
3     200000
4      14400
5    1420000
dtype: int64
First element is: 100000

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(prices.iloc[1])  #prints second element

2310000

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
prices.index = time_index
print(prices)
print(prices['2021-01-02'])  ##prints  element  with index '2021-01-02'

2021-01-01     100000
2021-01-02    2310000
2021-01-03     200000
2021-01-04      14400
2021-01-05    1420000
Freq: D, dtype: int64
2310000

We can even access to a range of dates:

In [ ]:
print(prices['2021-01-02':'2021-01-03'])

2021-01-02    2310000
2021-01-03     200000
Freq: D, dtype: int64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(prices)
mean = np.mean(prices)  #calculates mean of the values
print(mean)  
print(prices[prices < np.mean(prices)] )  #print values greater than mean

2021-01-01     100000
2021-01-02    2310000
2021-01-03     200000
2021-01-04      14400
2021-01-05    1420000
Freq: D, dtype: int64
808880.0
2021-01-01    100000
2021-01-03    200000
2021-01-04     14400
dtype: int64

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [ ]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6.4 MB 4.9 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 63 kB 926 kB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [ ]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 100000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.33890998, 'profitMargins': 0.26579002, 'grossMargins': 0.43019, 'operatingCashflow': 112241000448, 'revenueGrowth': 0.112, 'operatingMargins': 0.309, 'ebitda': 128217997312, 'targetLowPrice': 160, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 80153247744, 'targetMedianPrice': 199.5, 'currentPrice': 150.62, 'earningsGrowth': 0.25, 'currentRatio': 1.038, 'returnOnAssets': 0.19875, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 193.53, 'debtToEquity': 170.714, 'returnOnEquity': 1.45567, 'targetHighPrice': 215, 'totalCash': 63913000960, 'totalDebt': 122797998080, 'totalRevenue': 378323009536, 'totalCashPerShare': 3.916, 'financialCurrency': 'USD', 'revenuePerShare': 22.838, 'quickRatio': 0.875, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.653, 'beta3Year': None, 'enterpriseToEbitda': 19.63, '52WeekChange': 0.24792325, 'morningStarRiskRating': None, 'forwardEps': 6.56, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16319399936, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 4.402, 'sharesShort': 110322490, 'sharesPercentSharesOut': 0.0068, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59426, 'netIncomeToCommon': 100554997760, 'trailingEps': 6.015, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.059303045, 'priceToBook': 34.216263, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1640390400, 'shortRatio': 1.2, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 16302795170, 'beta': 1.185531, 'enterpriseValue': 2516919255040, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1643932800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.204, 'priceToSalesTrailing12Months': 6.497167, 'dateShortInterest': 1646006400, 'pegRatio': 1.69, 'ytdReturn': None, 'forwardPE': 22.960365, 'lastCapGain': None, 'shortPercentOfFloat': 0.0068, 'sharesShortPriorMonth': 91388112, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 154.73, 'regularMarketOpen': 151.45, 'twoHundredDayAverage': 153.6086, 'trailingAnnualDividendYield': 0.0055903834, 'payoutRatio': 0.1434, 'volume24Hr': None, 'regularMarketDayHigh': 154.12, 'navPrice': None, 'averageDailyVolume10Day': 93968420, 'regularMarketPreviousClose': 154.73, 'fiftyDayAverage': 168.6374, 'trailingAnnualDividendRate': 0.865, 'open': 151.45, 'toCurrency': None, 'averageVolume10days': 93968420, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1643932800, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 150.1, 'currency': 'USD', 'trailingPE': 25.040731, 'regularMarketVolume': 108732111, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2458027819008, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 95938386, 'dayLow': 150.1, 'ask': 150.93, 'askSize': 800, 'volume': 108732111, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.13, 'fiftyTwoWeekLow': 118.86, 'bid': 150.9, 'tradeable': False, 'dividendYield': 0.0057, 'bidSize': 1200, 'dayHigh': 154.12, 'regularMarketPrice': 150.62, 'preMarketPrice': 151.52, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.2017}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.590636,24.225176,23.450393,24.220577,270597600,0.0,0
2016-01-05,24.312538,24.335529,23.544654,23.613625,223164000,0.0,0
2016-01-06,23.119331,23.535462,22.960697,23.151518,273829600,0.0,0
2016-01-07,22.687108,23.020471,22.169820,22.174417,324377600,0.0,0
2016-01-08,22.657219,22.785966,22.245687,22.291668,283192000,0.0,0
...,...,...,...,...,...,...,...
2017-12-22,41.713649,41.890363,41.670667,41.792454,65397600,0.0,0
2017-12-26,40.787101,40.947097,40.519642,40.732178,132742000,0.0,0
2017-12-27,40.619957,40.782339,40.526825,40.739357,85992800,0.0,0
2017-12-28,40.834869,41.037851,40.710692,40.853973,65920800,0.0,0
2017-12-29,40.720244,40.736958,40.409803,40.412189,103999600,0.0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [ ]:
aapl = aapl_table['Close']['2016']  #creates series whose values are Apple's daily closing prices in 2016

In [ ]:
print(aapl)

Date
2016-01-04    24.220577
2016-01-05    23.613625
2016-01-06    23.151518
2016-01-07    22.174417
2016-01-08    22.291668
                ...
2016-12-23    27.384649
2016-12-27    27.558569
2016-12-28    27.441055
2016-12-29    27.434004
2016-12-30    27.220135
Name: Close, Length: 252, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [ ]:
print(aapl['2016-1-7'])   #prints value with '2016-1-7' index

22.17441749572754

In [ ]:
aapl['2016-2':'2016-4']

Date
2016-02-01    22.169817
2016-02-02    21.721498
2016-02-03    22.151423
2016-02-04    22.329412
2016-02-05    21.733038
                ...
2016-04-25    24.289591
2016-04-26    24.120853
2016-04-27    22.611416
2016-04-28    21.920271
2016-04-29    21.668316
Name: Close, Length: 63, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
print(aapl.head(3))     # prints first 3 elements
print(aapl.tail(10))    # prints last 10 elements

Date
2016-01-04    24.220577
2016-01-05    23.613625
2016-01-06    23.151518
Name: Close, dtype: float64
Date
2016-12-16    27.255390
2016-12-19    27.412855
2016-12-20    27.485708
2016-12-21    27.511562
2016-12-22    27.330595
2016-12-23    27.384649
2016-12-27    27.558569
2016-12-28    27.441055
2016-12-29    27.434004
2016-12-30    27.220135
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean()
print(by_month)   # prints mean of the values in each month

Date
2016-01-31    22.629388
2016-02-29    22.114204
2016-03-31    24.101729
2016-04-30    24.673088
2016-05-31    22.068430
2016-06-30    22.470544
2016-07-31    22.920369
2016-08-31    25.157012
2016-09-30    25.920676
2016-10-31    27.054706
2016-11-30    25.875820
2016-12-31    26.871297
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [ ]:
by_week = aapl.resample('W').mean()
print(by_week.head())  # prints mean of the values in each weak

Date
2016-01-10    23.090361
2016-01-17    22.647103
2016-01-24    22.483065
2016-01-31    22.267759
2016-02-07    22.021038
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
aapl.resample('M').max()  #prints ma value in each month

Date
2016-01-31    24.220577
2016-02-29    22.680771
2016-03-31    25.325161
2016-04-30    25.912289
2016-05-31    23.351416
2016-06-30    23.174675
2016-07-31    24.265383
2016-08-31    25.598669
2016-09-30    27.022638
2016-10-31    27.649279
2016-11-30    26.275352
2016-12-31    27.558569
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').min()
two_week = aapl.resample('2W').max()
half_yearly = aapl.resample('6M').mean()


print(three_day)  #prints min value each three days
print(two_week)   # prints max value each two week
print(half_yearly )  #prints half yearly mean

Date
2016-01-04    23.151518
2016-01-07    22.174417
2016-01-10    22.652620
2016-01-13    22.330755
2016-01-16          NaN
                ...
2016-12-17    27.412855
2016-12-20    27.330595
2016-12-23    27.384649
2016-12-26    27.441055
2016-12-29    27.220135
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2016-01-10    24.220577
2016-01-24    23.317047
2016-02-07    22.988289
2016-02-21    22.680771
2016-03-06    23.811110
2016-03-20    24.495321
2016-04-03    25.424561
2016-04-17    25.912289
2016-05-01    24.844360
2016-05-15    22.001173
2016-05-29    23.351416
2016-06-12    23.223515
2016-06-26    22.686298
2016-07-10    22.483965
2016-07-24    23.246769
2016-08-07    25.131029
2016-08-21    25.598669
2016-09-04    25.451366
2016-09-18    27.022638
2016-10-02    26.800508
2016-10-16    27.504307
2016-10-30    27.649279
2016-11-13    26.547987
2016-11-27    26.275352
2016-12-11    26.780642
2016-12-25    27.511562
2017-01-08    27.558569
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2016-01-31    22.629388
2016-07-31    23.070265
2017-01-31    26.156858
Freq: 6M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('D').std()
max_weekly = aapl.resample('W').max()
min_montly = aapl.resample('M').min()


print(std)
print(max_weekly)
print(min_montly)

Date
2016-01-04   NaN
2016-01-05   NaN
2016-01-06   NaN
2016-01-07   NaN
2016-01-08   NaN
              ..
2016-12-26   NaN
2016-12-27   NaN
2016-12-28   NaN
2016-12-29   NaN
2016-12-30   NaN
Freq: D, Name: Close, Length: 362, dtype: float64
Date
2016-01-10    24.220577
2016-01-17    22.981384
2016-01-24    23.317047
2016-01-31    22.988289
2016-02-07    22.329412
2016-02-14    21.961876
2016-02-21    22.680771
2016-02-28    22.401072
2016-03-06    23.811110
2016-03-13    23.637741
2016-03-20    24.495321
2016-03-27    24.668682
2016-04-03    25.424561
2016-04-10    25.685757
2016-04-17    25.912289
2016-04-24    24.844360
2016-05-01    24.289591
2016-05-08    22.001173
2016-05-15    21.725819
2016-05-22    22.144432
2016-05-29    23.351416
2016-06-05    23.223515
2016-06-12    23.174675
2016-06-19    22.686298
2016-06-26    22.349081
2016-07-03    22.300247
2016-07-10    22.483965
2016-07-17    22.974670
2016-07-24    23.246769
2016-07-31    24.265383
2016-08-07    25.131029
2016-08-14    25.442013
2016-08-21    25.598669
2016-08-28    25.451366
2016-09-04    25.189487
2016-09-11    25.336790
2016-09-18    27.022638
2016-09-25    26.800508
2016-10-02    26.643848
2016-10-09    26.669567
2016-10-16    27.504307
2016-10-23    27.485603
2016-10-30    27.649279
2016-11-06    26.547987
2016-11-13    26.101435
2016-11-20    25.866411
2016-11-27    26.275352
2016-12-04    26.221296
2016-12-11    26.780642
2016-12-18    27.255390
2016-12-25    27.511562
2017-01-01    27.558569
Freq: W-SUN, Name: Close, dtype: float64
Date
2016-01-31    21.477800
2016-02-29    21.659067
2016-03-31    23.237846
2016-04-30    21.668316
2016-05-31    21.009533
2016-06-30    21.404888
2016-07-31    22.090944
2016-08-31    24.297943
2016-09-30    24.113913
2016-10-31    26.309486
2016-11-30    24.844070
2016-12-31    25.643145
Freq: M, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1])  # calculates monthly returns based on the last day of each monthon the last day of each month
print(last_day)

Date
2016-01-31    22.379028
2016-02-29    22.350214
2016-03-31    25.193398
2016-04-30    21.668316
2016-05-31    23.223515
2016-06-30    22.232805
2016-07-31    24.235155
2016-08-31    24.808357
2016-09-30    26.433413
2016-10-31    26.547987
2016-11-30    25.974522
2016-12-31    27.220135
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)  # calculates monthly returns based in the first day and the last day of each month
print(last_day)
print(monthly_return)

Date
2016-01-31    22.379028
2016-02-29    22.350214
2016-03-31    25.193398
2016-04-30    21.668316
2016-05-31    23.223515
2016-06-30    22.232805
2016-07-31    24.235155
2016-08-31    24.808357
2016-09-30    26.433413
2016-10-31    26.547987
2016-11-30    25.974522
2016-12-31    27.220135
Freq: M, Name: Close, dtype: float64
Date
2016-01-31   -0.076032
2016-02-29    0.008137
2016-03-31    0.084154
2016-04-30   -0.147741
2016-05-31    0.072918
2016-06-30   -0.029047
2016-07-31    0.086766
2016-08-31    0.005891
2016-09-30    0.059215
2016-10-31    0.009065
2016-11-30   -0.003611
2016-12-31    0.057814
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())  #prints mean of montly return
print(monthly_return.std())   #prints the standard deviation of montly return
print(monthly_return.max())   #prints max value of montly return

0.010627356272480367
0.07010957340189145
0.08676620920457423

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff())  # calculates the difference between months
print(last_day.pct_change())  #calculates the percentage change

Date
2016-01-31         NaN
2016-02-29   -0.028814
2016-03-31    2.843184
2016-04-30   -3.525082
2016-05-31    1.555199
2016-06-30   -0.990709
2016-07-31    2.002350
2016-08-31    0.573202
2016-09-30    1.625055
2016-10-31    0.114574
2016-11-30   -0.573465
2016-12-31    1.245613
Freq: M, Name: Close, dtype: float64
Date
2016-01-31         NaN
2016-02-29   -0.001288
2016-03-31    0.127211
2016-04-30   -0.139921
2016-05-31    0.071773
2016-06-30   -0.042660
2016-07-31    0.090063
2016-08-31    0.023652
2016-09-30    0.065504
2016-10-31    0.004334
2016-11-30   -0.021601
2016-12-31    0.047955
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))   #changes NaN value

Date
2016-01-31    0.000000
2016-02-29   -0.001288
2016-03-31    0.127211
2016-04-30   -0.139921
2016-05-31    0.071773
2016-06-30   -0.042660
2016-07-31    0.090063
2016-08-31    0.023652
2016-09-30    0.065504
2016-10-31    0.004334
2016-11-30   -0.021601
2016-12-31    0.047955
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))  #changes NaN value with the next value

Date
2016-01-31   -0.001288
2016-02-29   -0.001288
2016-03-31    0.127211
2016-04-30   -0.139921
2016-05-31    0.071773
2016-06-30   -0.042660
2016-07-31    0.090063
2016-08-31    0.023652
2016-09-30    0.065504
2016-10-31    0.004334
2016-11-30   -0.021601
2016-12-31    0.047955
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()   #removes NaN value

Date
2016-02-29   -0.001288
2016-03-31    0.127211
2016-04-30   -0.139921
2016-05-31    0.071773
2016-06-30   -0.042660
2016-07-31    0.090063
2016-08-31    0.023652
2016-09-30    0.065504
2016-10-31    0.004334
2016-11-30   -0.021601
2016-12-31    0.047955
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [ ]:
import pandas as pd

dict = {'PS4': [143.5, 144.09, 142.73, 144.18, 143.77],'XBOX_ONE':[898.7, 911.71, 906.69, 918.59, 926.99],
        'NINTENDO':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2020-01-01',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

               PS4  XBOX_ONE  NINTENDO
2020-01-01  143.50    898.70    155.58
2020-01-02  144.09    911.71    153.67
2020-01-03  142.73    906.69    152.36
2020-01-04  144.18    918.59    152.94
2020-01-05  143.77    926.99    153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [ ]:
df = aapl_table
print(df.Close.tail(5))  #Prints last 5 Apple's daily closing prices
print(df['Volume'].tail(5))

Date
2017-12-22    41.792454
2017-12-26    40.732178
2017-12-27    40.739357
2017-12-28    40.853973
2017-12-29    40.412189
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [ ]:
aapl_2016 = df['2016']   #creates df with 2016 values
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1]) #creates df with 2016 values and montly values
print(aapl_month)

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028  257666000        0.0
2016-02-29  22.389510  22.706190  22.340968  22.350214  140865200        0.0
2016-03-31  25.362140  25.403748  25.167971  25.193398  103553600        0.0
2016-04-30  21.726104  21.894847  21.383998  21.668316  274126000        0.0
2016-05-31  23.163048  23.349098  22.981651  23.223515  169228800        0.0
2016-06-30  21.963036  22.272340  21.930477  22.232805  143345600        0.0
2016-07-31  24.230505  24.314227  24.111898  24.235155  110934800        0.0
2016-08-31  24.705477  24.918253  24.700800  24.808357  118649600        0.0
2016-09-30  26.295458  26.508235  26.141137  26.433413  145516400        0.0
2016-10-31  26.573707  26.709324  26.468487  26.547987  105677600        0.0
2016-11-30  26.228345  26.369357  25.915766  25.974522  144649200        0.0
2016-12-31  27.415203  27.544463  27.128477  27.220135  122345200        0.0

            Stock Splits
Date
2016-01-31             0
2016-02-29             0
2016-03-31             0
2016-04-30             0
2016-05-31             0
2016-06-30             0
2016-07-31             0
2016-08-31             0
2016-09-30             0
2016-10-31             0
2016-11-30             0
2016-12-31             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

We may select certain columns of a DataFrame using their names:

In [ ]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']] #creates df with 'Open', 'High', 'Low', 'Close' columns
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028
2016-02-29  22.389510  22.706190  22.340968  22.350214
2016-03-31  25.362140  25.403748  25.167971  25.193398
2016-04-30  21.726104  21.894847  21.383998  21.668316
2016-05-31  23.163048  23.349098  22.981651  23.223515
2016-06-30  21.963036  22.272340  21.930477  22.232805
2016-07-31  24.230505  24.314227  24.111898  24.235155
2016-08-31  24.705477  24.918253  24.700800  24.808357
2016-09-30  26.295458  26.508235  26.141137  26.433413
2016-10-31  26.573707  26.709324  26.468487  26.547987
2016-11-30  26.228345  26.369357  25.915766  25.974522
2016-12-31  27.415203  27.544463  27.128477  27.220135

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])   #prints df with values  on a specific date

                 Open       High        Low      Close
Date
2016-03-31  25.362140  25.403748  25.167971  25.193398
2016-04-30  21.726104  21.894847  21.383998  21.668316
2016-05-31  23.163048  23.349098  22.981651  23.223515
2016-06-30  21.963036  22.272340  21.930477  22.232805

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [ ]:
import numpy as np

above = aapl_bar[aapl_bar.Close > aapl_bar.Open]  #selects columns where the open price is greater than the close price
print(above)

                 Open       High        Low      Close
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028
2016-05-31  23.163048  23.349098  22.981651  23.223515
2016-06-30  21.963036  22.272340  21.930477  22.232805
2016-07-31  24.230505  24.314227  24.111898  24.235155
2016-08-31  24.705477  24.918253  24.700800  24.808357
2016-09-30  26.295458  26.508235  26.141137  26.433413

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()  #adds rate_return column
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028          NaN
2016-02-29  22.389510  22.706190  22.340968  22.350214    -0.001288
2016-03-31  25.362140  25.403748  25.167971  25.193398     0.127211
2016-04-30  21.726104  21.894847  21.383998  21.668316    -0.139921
2016-05-31  23.163048  23.349098  22.981651  23.223515     0.071773
2016-06-30  21.963036  22.272340  21.930477  22.232805    -0.042660
2016-07-31  24.230505  24.314227  24.111898  24.235155     0.090063
2016-08-31  24.705477  24.918253  24.700800  24.808357     0.023652
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065504
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228345  26.369357  25.915766  25.974522    -0.021601
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
missing = aapl_bar.isnull()   #checks NaN values
print(missing)
print('---------------------------------------------')
print(missing.describe())  #counts abnormal values

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True])  #finds columns with missing values

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)  #fills missing data with 0
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.389510  22.706190  22.340968  22.350214    -0.001288
2016-03-31  25.362140  25.403748  25.167971  25.193398     0.127211
2016-04-30  21.726104  21.894847  21.383998  21.668316    -0.139921
2016-05-31  23.163048  23.349098  22.981651  23.223515     0.071773
2016-06-30  21.963036  22.272340  21.930477  22.232805    -0.042660
2016-07-31  24.230505  24.314227  24.111898  24.235155     0.090063
2016-08-31  24.705477  24.918253  24.700800  24.808357     0.023652
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065504
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228345  26.369357  25.915766  25.974522    -0.021601
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028     0.000000
2016-02-29  22.389510  22.706190  22.340968  22.350214    -0.001288
2016-03-31  25.362140  25.403748  25.167971  25.193398     0.127211
2016-04-30  21.726104  21.894847  21.383998  21.668316    -0.139921
2016-05-31  23.163048  23.349098  22.981651  23.223515     0.071773
2016-06-30  21.963036  22.272340  21.930477  22.232805    -0.042660
2016-07-31  24.230505  24.314227  24.111898  24.235155     0.090063
2016-08-31  24.705477  24.918253  24.700800  24.808357     0.023652
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065504
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228345  26.369357  25.915766  25.974522    -0.021601
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'Xbox')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'Play Station')
data_frame = pd.concat([s1,s2], axis = 1)  #merge s1 and s2 datafraames
print(data_frame)

     Xbox  Play Station
0  143.50        898.70
1  144.09        911.71
2  142.73        906.69
3  144.18        918.59
4  143.77        926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)  #merges aapl_bar and log_price datafraames by columns
print(concat)

Date
2016-01-31    3.108124
2016-02-29    3.106836
2016-03-31    3.226582
2016-04-30    3.075851
2016-05-31    3.145165
2016-06-30    3.101569
2016-07-31    3.187804
2016-08-31    3.211181
2016-09-30    3.274629
2016-10-31    3.278954
2016-11-30    3.257116
2016-12-31    3.303957
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028          NaN   3.108124
2016-02-29  22.389510  22.706190  22.340968  22.350214    -0.001288   3.106836
2016-03-31  25.362140  25.403748  25.167971  25.193398     0.127211   3.226582
2016-04-30  21.726104  21.894847  21.383998  21.668316    -0.139921   3.075851
2016-05-31  23.163048  23.349098  22.981651  23.223515     0.071773   3.145165
2016-06-30  21.963036  22.272340  21.930477  22.232805    -0.042660   3.101569
2016-07-31  24.230505  24.314227  24.111898  24.235155     0.090063   3.187804
2016-08-31  24.705477  24.918253  24.700800  24.808357     0.023652   3.211181
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065504   3.274629
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334   3.278954
2016-11-30  26.228345  26.369357  25.915766  25.974522    -0.021601   3.257116
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955   3.303957

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.573707  26.709324  26.468487  26.547987
2016-11-30  26.228345  26.369357  25.915766  25.974522
2016-12-31  27.415203  27.544463  27.128477  27.220135
2017-01-31  28.472797  28.529201  28.348236  28.519800
2017-02-28  32.356352  32.441327  32.266656  32.335110
2017-03-31  33.923666  34.053488  33.756076  33.909504
2017-04-30  34.011005  34.060575  33.817454  33.907146

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)   #merges aapl_bar and df_volume data frames by columns
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028          NaN
2016-02-29  22.389510  22.706190  22.340968  22.350214    -0.001288
2016-03-31  25.362140  25.403748  25.167971  25.193398     0.127211
2016-04-30  21.726104  21.894847  21.383998  21.668316    -0.139921
2016-05-31  23.163048  23.349098  22.981651  23.223515     0.071773
2016-06-30  21.963036  22.272340  21.930477  22.232805    -0.042660
2016-07-31  24.230505  24.314227  24.111898  24.235155     0.090063
2016-08-31  24.705477  24.918253  24.700800  24.808357     0.023652
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065504
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228345  26.369357  25.915766  25.974522    -0.021601
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955
2017-01-31        NaN        NaN        NaN        NaN          NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN

                 Volume  Stock Splits
Date
2016-01-31          NaN           NaN
2016-02-29          NaN           NaN
2016-03-31          NaN           NaN
2016-04-30          NaN           NaN
2016-05-31          NaN           NaN
2016-06-30          NaN           NaN
2016-07-31          NaN           NaN
2016-08-31          NaN           NaN
2016-09-30          NaN           NaN
2016-10-31  105677600.0           0.0
2016-11-30  144649200.0           0.0
2016-12-31  122345200.0           0.0
2017-01-31  196804000.0           0.0
2017-02-28   93931600.0           0.0
2017-03-31   78646800.0           0.0
2017-04-30   83441600.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')   # merges aapl_bar and df_volume by inner join (compares date)
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228345  26.369357  25.915766  25.974522    -0.021601
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
print(aapl_bar)
print(df_2017)
append = aapl_bar.append(df_2017)   # merge aapl_bar and df_2017 by axis = 0 (joins the rows)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028          NaN
2016-02-29  22.389510  22.706190  22.340968  22.350214    -0.001288
2016-03-31  25.362140  25.403748  25.167971  25.193398     0.127211
2016-04-30  21.726104  21.894847  21.383998  21.668316    -0.139921
2016-05-31  23.163048  23.349098  22.981651  23.223515     0.071773
2016-06-30  21.963036  22.272340  21.930477  22.232805    -0.042660
2016-07-31  24.230505  24.314227  24.111898  24.235155     0.090063
2016-08-31  24.705477  24.918253  24.700800  24.808357     0.023652
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065504
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228345  26.369357  25.915766  25.974522    -0.021601
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955
               Change       High        Low      Close
Date
2016-10-31  26.573707  26.709324  26.468487  26.547987
2016-11-30  26.228345  26.369357  25.915766  25.974522
2016-12-31  27.415203  27.544463  27.128477  27.220135
2017-01-31  28.472797  28.529201  28.348236  28.519800
2017-02-28  32.356352  32.441327  32.266656  32.335110
2017-03-31  33.923666  34.053488  33.756076  33.909504
2017-04-30  34.011005  34.060575  33.817454  33.907146
                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028          NaN        NaN
2016-02-29  22.389510  22.706190  22.340968  22.350214    -0.001288        NaN
2016-03-31  25.362140  25.403748  25.167971  25.193398     0.127211        NaN
2016-04-30  21.726104  21.894847  21.383998  21.668316    -0.139921        NaN
2016-05-31  23.163048  23.349098  22.981651  23.223515     0.071773        NaN
2016-06-30  21.963036  22.272340  21.930477  22.232805    -0.042660        NaN
2016-07-31  24.230505  24.314227  24.111898  24.235155     0.090063        NaN
2016-08-31  24.705477  24.918253  24.700800  24.808357     0.023652        NaN
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065504        NaN
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334        NaN
2016-11-30  26.228345  26.369357  25.915766  25.974522    -0.021601        NaN
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955        NaN
2016-10-31        NaN  26.709324  26.468487  26.547987          NaN  26.573707
2016-11-30        NaN  26.369357  25.915766  25.974522          NaN  26.228345
2016-12-31        NaN  27.544463  27.128477  27.220135          NaN  27.415203
2017-01-31        NaN  28.529201  28.348236  28.519800          NaN  28.472797
2017-02-28        NaN  32.441327  32.266656  32.335110          NaN  32.356352
2017-03-31        NaN  34.053488  33.756076  33.909504          NaN  33.923666
2017-04-30        NaN  34.060575  33.817454  33.907146          NaN  34.011005

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0) # merge aapl_bar and df_2017 by axis = 0 (joins the rows)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028          NaN
2016-02-29  22.389510  22.706190  22.340968  22.350214    -0.001288
2016-03-31  25.362140  25.403748  25.167971  25.193398     0.127211
2016-04-30  21.726104  21.894847  21.383998  21.668316    -0.139921
2016-05-31  23.163048  23.349098  22.981651  23.223515     0.071773
2016-06-30  21.963036  22.272340  21.930477  22.232805    -0.042660
2016-07-31  24.230505  24.314227  24.111898  24.235155     0.090063
2016-08-31  24.705477  24.918253  24.700800  24.808357     0.023652
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065504
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228345  26.369357  25.915766  25.974522    -0.021601
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955
2016-10-31  26.573707  26.709324  26.468487  26.547987          NaN
2016-11-30  26.228345  26.369357  25.915766  25.974522          NaN
2016-12-31  27.415203  27.544463  27.128477  27.220135          NaN
2017-01-31  28.472797  28.529201  28.348236  28.519800          NaN
2017-02-28  32.356352  32.441327  32.266656  32.335110          NaN
2017-03-31  33.923666  34.053488  33.756076  33.909504          NaN
2017-04-30  34.011005  34.060575  33.817454  33.907146          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)  # merge aapl_bar and df_2017 by axis = 0 (joins the rows), columns with the same names are considered the same
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028          NaN        NaN
2016-02-29  22.389510  22.706190  22.340968  22.350214    -0.001288        NaN
2016-03-31  25.362140  25.403748  25.167971  25.193398     0.127211        NaN
2016-04-30  21.726104  21.894847  21.383998  21.668316    -0.139921        NaN
2016-05-31  23.163048  23.349098  22.981651  23.223515     0.071773        NaN
2016-06-30  21.963036  22.272340  21.930477  22.232805    -0.042660        NaN
2016-07-31  24.230505  24.314227  24.111898  24.235155     0.090063        NaN
2016-08-31  24.705477  24.918253  24.700800  24.808357     0.023652        NaN
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065504        NaN
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334        NaN
2016-11-30  26.228345  26.369357  25.915766  25.974522    -0.021601        NaN
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955        NaN
2016-10-31        NaN  26.709324  26.468487  26.547987          NaN  26.573707
2016-11-30        NaN  26.369357  25.915766  25.974522          NaN  26.228345
2016-12-31        NaN  27.544463  27.128477  27.220135          NaN  27.415203
2017-01-31        NaN  28.529201  28.348236  28.519800          NaN  28.472797
2017-02-28        NaN  32.441327  32.266656  32.335110          NaN  32.356352
2017-03-31        NaN  34.053488  33.756076  33.909504          NaN  33.923666
2017-04-30        NaN  34.060575  33.817454  33.907146          NaN  34.011005

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.